<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="personnage">
            <h2><span>Personnage</span> {{ personnage.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Nom</span></dt>
                <dd>
                    <span>{{ personnage.nom }}</span>
                </dd>
                <dt><span>Classe Armure</span></dt>
                <dd>
                    <span>{{ personnage.classeArmure }}</span>
                </dd>
                <dt><span>Bonus Maitrise</span></dt>
                <dd>
                    <span>{{ personnage.bonusMaitrise }}</span>
                </dd>
                <dt><span>Force</span></dt>
                <dd>
                    <span>{{ personnage.force }}</span>
                </dd>
                <dt><span>Dexterite</span></dt>
                <dd>
                    <span>{{ personnage.dexterite }}</span>
                </dd>
                <dt><span>Constitution</span></dt>
                <dd>
                    <span>{{ personnage.constitution }}</span>
                </dd>
                <dt><span>Intelligence</span></dt>
                <dd>
                    <span>{{ personnage.intelligence }}</span>
                </dd>
                <dt><span>Sagesse</span></dt>
                <dd>
                    <span>{{ personnage.sagesse }}</span>
                </dd>
                <dt><span>Charisme</span></dt>
                <dd>
                    <span>{{ personnage.charisme }}</span>
                </dd>
                <dt><span>De De Vie</span></dt>
                <dd>
                    <span>{{ personnage.deDeVie }}</span>
                </dd>
                <dt><span>Vie</span></dt>
                <dd>
                    <span>{{ personnage.vie }}</span>
                </dd>
                <dt><span>Perception Passive</span></dt>
                <dd>
                    <span>{{ personnage.perceptionPassive }}</span>
                </dd>
                <dt><span>Initiative</span></dt>
                <dd>
                    <span>{{ personnage.initiative }}</span>
                </dd>
                <dt><span>Bonus Attaque CAC</span></dt>
                <dd>
                    <span>{{ personnage.bonusAttaqueCAC }}</span>
                </dd>
                <dt><span>Bonus Attaque Distance</span></dt>
                <dd>
                    <span>{{ personnage.bonusAttaqueDistance }}</span>
                </dd>
                <dt><span>Modificateur Force</span></dt>
                <dd>
                    <span>{{ personnage.modificateurForce }}</span>
                </dd>
                <dt><span>Modificateur Dexterite</span></dt>
                <dd>
                    <span>{{ personnage.modificateurDexterite }}</span>
                </dd>
                <dt><span>Modificateur Constitution</span></dt>
                <dd>
                    <span>{{ personnage.modificateurConstitution }}</span>
                </dd>
                <dt><span>Modificateur Intelligence</span></dt>
                <dd>
                    <span>{{ personnage.modificateurIntelligence }}</span>
                </dd>
                <dt><span>Modificateur Sagesse</span></dt>
                <dd>
                    <span>{{ personnage.modificateurSagesse }}</span>
                </dd>
                <dt><span>Modificateur Charisme</span></dt>
                <dd>
                    <span>{{ personnage.modificateurCharisme }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/personnage', personnage.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
