<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-personnage-heading">Create or edit a Personnage</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_nom">Nom</label>
                    <input type="text" class="form-control" name="nom" id="field_nom"
                           formControlName="nom"/>
                    <div *ngIf="editForm.get('nom')!.invalid && (editForm.get('nom')!.dirty || editForm.get('nom')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nom')?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nom')?.errors?.minlength">
                        This field is required to be at least 3 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_classeArmure">Classe Armure</label>
                    <input type="number" class="form-control" name="classeArmure" id="field_classeArmure"
                           formControlName="classeArmure"/>
                    <div *ngIf="editForm.get('classeArmure')!.invalid && (editForm.get('classeArmure')!.dirty || editForm.get('classeArmure')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('classeArmure')?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('classeArmure')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_bonusMaitrise">Bonus Maitrise</label>
                    <input type="number" class="form-control" name="bonusMaitrise" id="field_bonusMaitrise"
                           formControlName="bonusMaitrise"/>
                    <div *ngIf="editForm.get('bonusMaitrise')!.invalid && (editForm.get('bonusMaitrise')!.dirty || editForm.get('bonusMaitrise')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('bonusMaitrise')?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('bonusMaitrise')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_force">Force</label>
                    <input type="number" class="form-control" name="force" id="field_force"
                           formControlName="force"/>
                    <div *ngIf="editForm.get('force')!.invalid && (editForm.get('force')!.dirty || editForm.get('force')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('force')?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('force')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_dexterite">Dexterite</label>
                    <input type="number" class="form-control" name="dexterite" id="field_dexterite"
                           formControlName="dexterite"/>
                    <div *ngIf="editForm.get('dexterite')!.invalid && (editForm.get('dexterite')!.dirty || editForm.get('dexterite')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('dexterite')?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('dexterite')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_constitution">Constitution</label>
                    <input type="number" class="form-control" name="constitution" id="field_constitution"
                           formControlName="constitution"/>
                    <div *ngIf="editForm.get('constitution')!.invalid && (editForm.get('constitution')!.dirty || editForm.get('constitution')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('constitution')?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('constitution')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_intelligence">Intelligence</label>
                    <input type="number" class="form-control" name="intelligence" id="field_intelligence"
                           formControlName="intelligence"/>
                    <div *ngIf="editForm.get('intelligence')!.invalid && (editForm.get('intelligence')!.dirty || editForm.get('intelligence')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('intelligence')?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('intelligence')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_sagesse">Sagesse</label>
                    <input type="number" class="form-control" name="sagesse" id="field_sagesse"
                           formControlName="sagesse"/>
                    <div *ngIf="editForm.get('sagesse')!.invalid && (editForm.get('sagesse')!.dirty || editForm.get('sagesse')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('sagesse')?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('sagesse')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_charisme">Charisme</label>
                    <input type="number" class="form-control" name="charisme" id="field_charisme"
                           formControlName="charisme"/>
                    <div *ngIf="editForm.get('charisme')!.invalid && (editForm.get('charisme')!.dirty || editForm.get('charisme')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('charisme')?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('charisme')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_deDeVie">De De Vie</label>
                    <input type="number" class="form-control" name="deDeVie" id="field_deDeVie"
                           formControlName="deDeVie"/>
                    <div *ngIf="editForm.get('deDeVie')!.invalid && (editForm.get('deDeVie')!.dirty || editForm.get('deDeVie')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('deDeVie')?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('deDeVie')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_vie">Vie</label>
                    <input type="number" class="form-control" name="vie" id="field_vie"
                           formControlName="vie"/>
                    <div *ngIf="editForm.get('vie')!.invalid && (editForm.get('vie')!.dirty || editForm.get('vie')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('vie')?.errors?.min">
                            This field should be at least 1.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('vie')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
